@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: grey;
}


*{
    font-family: 'Bebas Neue', cursive;
}

.body{
    position: relative;
    z-index: -1;
    height: 100vh;
    .bodyImage{
        width: 100%;
        z-index: -5;
        img{
            max-width: 100%;
            z-index: -3;
        }
    }
    .bodyTitle{
        position: absolute;
        top: 0;
        margin-top: 68px;
        width: 100%;
        height: calc(70vh - 68px);
        background-color: gainsboro;
        margin-top: 20vh;
    }
}